<form class="memory-form">
    <div class="form-controls">
        <button
        type="button"
        mat-icon-button
        (click)="toggleEditing()">
            <mat-icon>edit</mat-icon>
        </button>
    </div>
    <mat-form-field>
        <mat-label>Memory</mat-label>
        <input 
        matInput 
        [(ngModel)]="newMemory.summary"
        name="summary"
        [disabled]="!isEditing"/>
    </mat-form-field>
    <ckeditor
    name="description"
    [editor]="Editor" 
    [(ngModel)]="newMemory.description"
    [disabled]="!isEditing"></ckeditor>
    <ng-container *ngIf="isEditing || !memory?.image">
        <app-image-upload 
        [image]="memory?.image"
        (imageAdded)="imageAdded($event)"
        (removeImage)="removeImage()"></app-image-upload>
    </ng-container>
    <ng-container *ngIf="memory?.image">
        <app-memory-image (removeImage)="removeImage()"></app-memory-image>
    </ng-container>
</form>
