.page{
  padding: 2em;
  padding-top: 4.5em;
}

.nav-link-button, .nav-link-mobile-button{
  text-decoration: none;
}

.nav-link-button{
  color: white;
}

.nav-link-mobile-button{
  color: black;
}
/*size settings for ckeditor*/
.ck-editor__editable_inline {
    min-height: 200px;
    max-height: 450px;
}