.page{
  padding: 2em;
  padding-top: 4.5em;
}

.nav-link-button, .nav-link-mobile-button{
  text-decoration: none;
}

.nav-link-button{
  color: white;
}

.nav-link-mobile-button{
  color: black;
}

.flex-form{
  display: flex;
  justify-content: center;
  align-items: flex-end;
}