.login-icon{
    width: 8%;
}

.button-icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    width: 100%;
}

.login-form > *{
    margin-bottom: 1em;
} 

@media (min-width: 600px) {
    .login-icon{
        width: 6%;
    }
}