<div>
    <form (submit)="createAccount($event)">
        <h4>Login</h4>
        <div class="form-group">
            <label for="email">Email</label>
            <input 
            name="email"
            id="email" 
            type="email" 
            class="form-control"
            aria-label="Email" 
            aria-describedby="email"
            required
            [(ngModel)]="email"
            >
            <ng-container 
            *ngIf="emailError">
                <div class="warn">
                    {{emailError}}
                </div>
            </ng-container>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input 
            id="password" 
            name="password"
            type="password" 
            class="form-control" 
            aria-label="password" 
            aria-describedby="password"
            required
            [(ngModel)]="password"
            >
            <ng-container 
            *ngIf="passwordError">
                <div class="warn">
                    {{passwordError}}
                </div>
            </ng-container>
        </div>
        <div class="form-group">
            <label for="confirm-password">Confirm Password</label>
            <input 
            id="confirm-password" 
            name="confirm-password"
            type="password" 
            class="form-control" 
            aria-label="password" 
            aria-describedby="password"
            required
            [(ngModel)]="confirmPass"
            >
            <ng-container 
            *ngIf="confrimPassError">
                <div class="warn">
                    {{confrimPassError}}
                </div>
            </ng-container>
        </div>
        <div class="form-group pb-3 pt-3">
            <button 
            class="btn btn-outline-primary btn-block" 
            type="submit">
                Create
            </button>
        </div>
    </form>
</div>