.flex-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-form > *{
    margin: 1em !important;
}

.flex-form > .MuiFormControl-root{
    width: 100%;
}

.auth-buttons > *{
    margin: 0.4em 0;
}

.google-image{
    width: 10%;
}

@media (min-width: 600px) {
    .google-image{
        width: 5%;
    }
}